input{
	outline: none;
	padding: 5px;
}
textarea{
	outline: none;
	padding: 5px;
}
.submit{
    width: 80px;
}
.content{
    display: grid;
}
#title{
    width: 200px;
    height: 30px;
    font-size: 15px;
}
#content{
    height: 302px;
    font-size: 20px;
    resize: none;
}