---
title: 编辑文章
---
<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
    <link href="post-editor.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="post-editor.js"></script>
    <script type="text/javascript" src="/assets/HandyEditor/HandyEditor.min.js"></script>
</head>

<body>
	{% include header.html %}
	<div class="content">
		<input type='file' id="image_selector" accept="image/*" />
		<input type="text" id="title" placeholder="（请输入文章标题）">
		<div class="checkBox">
			<p>标签:</p>
			<div class="options">
				<input type="checkbox" class="tagName" value="c语言">c语言
				<input type="checkbox" class="tagName" value="Java">Java
				<input type="checkbox" class="tagName" value="HTML">HTML
				<input type="checkbox" class="tagName" value="JavaScript">JavaScript
				<input type="checkbox" class="tagName" value="CSS">CSS
				<input type="checkbox" class="tagName" value="其他">其他<input type="text" id="selfDefinedTag">
			</div>
		</div>
		
		<textarea type="text" id="content" placeholder="（请输入文章内容）"></textarea>
		<input type="button" value="上传" id="submit2" class="submit">
	</div>

	<div id="wait_box1">
		<p>上传中,请稍后<span id="dot"></span></p>
	</div>
</body>
</html>