body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:797px;
}
#u0 {
  position:absolute;
  left:0px;
  top:-22px;
  width:1600px;
  height:796px;
  font-size:72px;
}
#u1 {
  position:absolute;
  left:2px;
  top:357px;
  width:1596px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1044px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:140px;
  top:702px;
  width:1400px;
  height:1044px;
}
#u3 {
  position:absolute;
  left:2px;
  top:514px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:324px;
}
#u4 {
  position:absolute;
  left:186px;
  top:124px;
  width:348px;
  height:323px;
  font-size:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:138px;
  width:344px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:140px;
  top:702px;
  width:1400px;
  height:398px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:398px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1476px;
  height:441px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1476px;
  height:441px;
}
#u8 {
  position:absolute;
  left:2px;
  top:212px;
  width:1472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:441px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:441px;
}
#u10 {
  position:absolute;
  left:2px;
  top:212px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:442px;
}
#u11 {
  position:absolute;
  left:686px;
  top:0px;
  width:790px;
  height:441px;
  font-size:48px;
}
#u12 {
  position:absolute;
  left:2px;
  top:193px;
  width:786px;
  word-wrap:break-word;
}
#u6_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:398px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:465px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:465px;
}
#u14 {
  position:absolute;
  left:2px;
  top:224px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:466px;
}
#u15 {
  position:absolute;
  left:686px;
  top:0px;
  width:785px;
  height:465px;
  font-size:48px;
}
#u16 {
  position:absolute;
  left:2px;
  top:205px;
  width:781px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u17 {
  position:absolute;
  left:503px;
  top:1164px;
  width:31px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u19 {
  position:absolute;
  left:680px;
  top:1164px;
  width:31px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u21 {
  position:absolute;
  left:864px;
  top:1164px;
  width:31px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u23 {
  position:absolute;
  left:1045px;
  top:1164px;
  width:34px;
  height:34px;
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u25 {
  position:absolute;
  left:186px;
  top:501px;
  width:226px;
  height:54px;
  font-size:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u27 {
  position:absolute;
  left:204px;
  top:1237px;
  width:358px;
  height:65px;
  font-size:28px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:354px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u29 {
  position:absolute;
  left:661px;
  top:1237px;
  width:400px;
  height:65px;
  font-size:28px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:396px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u31 {
  position:absolute;
  left:1137px;
  top:1237px;
  width:357px;
  height:65px;
  font-size:28px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:353px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:315px;
}
#u33 {
  position:absolute;
  left:204px;
  top:1307px;
  width:176px;
  height:315px;
}
#u34 {
  position:absolute;
  left:2px;
  top:150px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:311px;
}
#u35 {
  position:absolute;
  left:380px;
  top:1312px;
  width:182px;
  height:310px;
  font-size:28px;
}
#u36 {
  position:absolute;
  left:2px;
  top:138px;
  width:178px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:155px;
  top:1430px;
  width:25px;
  height:70px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:21px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u39 {
  position:absolute;
  left:509px;
  top:501px;
  width:226px;
  height:54px;
  font-size:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:311px;
}
#u41 {
  position:absolute;
  left:1137px;
  top:1312px;
  width:357px;
  height:310px;
}
#u42 {
  position:absolute;
  left:2px;
  top:147px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u43 {
  position:absolute;
  left:661px;
  top:1312px;
  width:179px;
  height:48px;
  font-size:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u45 {
  position:absolute;
  left:961px;
  top:1312px;
  width:100px;
  height:48px;
  font-size:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u47 {
  position:absolute;
  left:850px;
  top:1312px;
  width:101px;
  height:48px;
  font-size:18px;
}
#u48 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u49 {
  position:absolute;
  left:661px;
  top:1486px;
  width:179px;
  height:48px;
  font-size:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u51 {
  position:absolute;
  left:661px;
  top:1544px;
  width:179px;
  height:48px;
  font-size:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u53 {
  position:absolute;
  left:661px;
  top:1428px;
  width:179px;
  height:48px;
  font-size:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u55 {
  position:absolute;
  left:661px;
  top:1370px;
  width:179px;
  height:48px;
  font-size:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u57 {
  position:absolute;
  left:850px;
  top:1428px;
  width:101px;
  height:48px;
  font-size:18px;
}
#u58 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u59 {
  position:absolute;
  left:850px;
  top:1486px;
  width:101px;
  height:48px;
  font-size:18px;
}
#u60 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u61 {
  position:absolute;
  left:850px;
  top:1544px;
  width:101px;
  height:48px;
  font-size:18px;
}
#u62 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u63 {
  position:absolute;
  left:850px;
  top:1370px;
  width:101px;
  height:48px;
  font-size:18px;
}
#u64 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u65 {
  position:absolute;
  left:961px;
  top:1428px;
  width:100px;
  height:48px;
  font-size:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u67 {
  position:absolute;
  left:961px;
  top:1486px;
  width:100px;
  height:48px;
  font-size:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u69 {
  position:absolute;
  left:961px;
  top:1544px;
  width:100px;
  height:48px;
  font-size:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u71 {
  position:absolute;
  left:961px;
  top:1370px;
  width:100px;
  height:48px;
  font-size:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:583px;
  top:1428px;
  width:25px;
  height:70px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:21px;
  word-wrap:break-word;
}
