---
title: 文章列表
---
<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	<link rel="stylesheet" type="text/css" href="posts-list.css">
    <script type="text/javascript" src="posts-list.js"></script>
</head>
<body>
	{% include header.html %}
	<div id="top">
		<img src="/assets/images/img8.jpg">
		<div id="menu-bar">
			<div id="date-box">
				<p>时间</p>
				<p>2019</p>
				<p>09</p>
				<p>21</p>
			</div>
			<div id="search-box">
				<input type="text" name="search" id="search">
				<button>搜索</button>
			</div>
		</div>
	</div>
	<div id="list">
		<div id="title">
			<div id="left" class="title">
				<p>KNOWLEDGE BASE</p>
			</div>
			<div id="right" class="title">
				<p></p>
			</div>
		</div>
		<hr>
		<div id="posts-box">
			{% for post in site.posts %}
			<div class="post" onclick="window.open('{{ post.url }}')">
				<div class="post-info">
					<p class="title">标题：{{ post.title }}</p>
					<p class="excerpt">文章开头一小段文字。。。。。。。</p>
				</div>
				<div class="post-date">
					<p class="day">21</p>
					<p class="month">2019/09</p>
				</div>
			</div>
			{% endfor %}
			<div class="post">
				<div class="post-info">
					<p class="title">标题：XXXXXXX</p>
					<p class="excerpt">文章开头一小段文字。。。。。。。</p>
				</div>
				<div class="post-date">
					<p class="day">21</p>
					<p class="month">2019/09</p>
				</div>
			</div>
			<div class="post">
				<div class="post-info">
					<p class="title">标题：XXXXXXX</p>
					<p class="excerpt">文章开头一小段文字。。。。。。。</p>
				</div>
				<div class="post-date">
					<p class="day">21</p>
					<p class="month">2019/09</p>
				</div>
			</div>
			<div class="post">
				<div class="post-info">
					<p class="title">标题：XXXXXXX</p>
					<p class="excerpt">文章开头一小段文字。。。。。。。</p>
				</div>
				<div class="post-date">
					<p class="day">21</p>
					<p class="month">2019/09</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>